In [1]:
import pandas as pd
import numpy as np
from dateutil.parser import parse
from sklearn import linear_model
from sklearn import metrics
import matplotlib.pyplot as plot

# EXTRACTION and EXPLORATION

In [2]:
accounts = pd.read_csv("accounts.csv")
products = pd.read_csv("products.csv")
sales_pipeline = pd.read_csv("sales_pipeline.csv")
sales_team = pd.read_csv("sales_teams.csv")

In [3]:
accounts.describe()

       year_established       revenue     employees
count         85.000000     85.000000     85.000000
mean        1996.105882   1994.632941   4660.823529
std            8.865427   2169.491436   5715.601198
min         1979.000000      4.540000      9.000000
25%         1989.000000    497.110000   1179.000000
50%         1996.000000   1223.720000   2769.000000
75%         2002.000000   2741.370000   5595.000000
max         2017.000000  11698.030000  34288.000000

In [4]:
accounts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   account           85 non-null     object
 1   sector            85 non-null     object
 2   year_established  85 non-null     int64
 3   revenue           85 non-null     float64
 4   employees         85 non-null     int64
 5   office_location   85 non-null     object
 6   subsidiary_of     15 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 4.8+ KB

In [5]:
accounts["account"].unique()

array(['Acme Corporation', 'Betasoloin', 'Betatech', 'Bioholding',
       'Bioplex', 'Blackzim', 'Bluth Company', 'Bubba Gump', 'Cancity',
       'Cheers', 'Codehow', 'Condax', 'Conecom', 'Dalttechnology',
       'dambase', 'Domzoom', 'Doncon', 'Donquadtech', 'Dontechi',
       'Donware', 'Fasehatice', 'Faxquote', 'Finhigh', 'Finjob',
       'Funholding', 'Ganjaflex', 'Gekko & Co',
       'Genco Pura Olive Oil Company', 'Globex Corporation', 'Gogozoom',
       'Golddex', 'Goodsilron', 'Green-Plus', 'Groovestreet', 'Hatfan',
       'Hottechi', 'Initech', 'Inity', 'Isdom', 'Iselectrics', 'J-Texon',
       'Kan-code', 'Kinnamplus', 'Konex', 'Konmatfix', 'Labdrill',
       'Lexiqvolax', 'Massive Dynamic', 'Mathtouch', 'Nam-zim', 'Newex',
       'Ontomedia', 'Opentech', 'Plexzap', 'Plusstrip', 'Plussunin',
       'Rangreen', 'Rantouch', 'Ron-tech', 'Rundofase', 'Scotfind',
       'Scottech', 'Silis', 'Singletechno', 'Sonron', 'Stanredtax',
       'Statholdings', 'Streethex', 'Sumace', 'Sunnamplex',
       'The New York Inquirer', 'Toughzap', 'Treequote',
       'Umbrella Corporation', 'Vehement Capital Partners', 'Warephase',
       'Xx-holding', 'Xx-zobam', 'Y-corporation', 'Yearin', 'Zathunicon',
       'Zencorporation', 'Zoomit', 'Zotware', 'Zumgoity'], dtype=object)

In [6]:
accounts["sector"].unique()

array(['technolgy', 'medical', 'retail', 'software', 'entertainment',
       'marketing', 'telecommunications', 'finance', 'employment',
       'services'], dtype=object)

In [7]:
accounts["office_location"].unique()

array(['United States', 'Kenya', 'Philipines', 'Japan', 'Italy', 'Norway',
       'Korea', 'Jordan', 'Brazil', 'Germany', 'Panama', 'Belgium',
       'Romania', 'Poland', 'China'], dtype=object)

In [8]:
accounts["subsidiary_of"].unique()

array([nan, 'Acme Corporation', 'Massive Dynamic', 'Bubba Gump', 'Inity',
       'Sonron', 'Golddex', 'Warephase'], dtype=object)

In [9]:
products.describe()

        sales_price
count      7.000000
mean    6023.571429
std     9388.428070
min       55.000000
25%      823.000000
50%     3393.000000
75%     5151.500000
max    26768.000000

In [10]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   product      7 non-null      object
 1   series       7 non-null      object
 2   sales_price  7 non-null      int64
dtypes: int64(1), object(2)
memory usage: 296.0+ bytes

In [11]:
products["product"].unique()

array(['GTX Basic', 'GTX Pro', 'MG Special', 'MG Advanced',
       'GTX Plus Pro', 'GTX Plus Basic', 'GTK 500'], dtype=object)

In [12]:
products["series"].unique()

array(['GTX', 'MG', 'GTK'], dtype=object)

In [13]:
sales_pipeline.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8800 entries, 0 to 8799
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   opportunity_id  8800 non-null   object
 1   sales_agent     8800 non-null   object
 2   product         8800 non-null   object
 3   account         7375 non-null   object
 4   deal_stage      8800 non-null   object
 5   engage_date     8300 non-null   object
 6   close_date      6711 non-null   object
 7   close_value     6711 non-null   float64
dtypes: float64(1), object(7)
memory usage: 550.1+ KB

In [14]:
sales_pipeline.describe()

        close_value
count   6711.000000
mean    1490.915512
std     2320.670773
min        0.000000
25%        0.000000
50%      472.000000
75%     3225.000000
max    30288.000000

In [15]:
sales_pipeline["sales_agent"].value_counts()

sales_agent
Darcel Schlecht       747
Vicki Laflamme        451
Anna Snelling         448
Kary Hendrixson       438
Kami Bicknell         362
Versie Hillebrand     361
Zane Levy             349
Cassey Cress          346
Jonathan Berthelot    345
Gladys Colclough      317
Lajuana Vencill       311
Corliss Cosme         310
Markita Hansen        306
Maureen Marcano       285
Marty Freudenburg     281
Donn Cantrell         275
James Ascencio        267
Violet Mclelland      261
Moses Frase           260
Daniell Hammack       259
Niesha Huffines       239
Reed Clapper          237
Boris Faz             210
Cecily Lampkin        203
Hayden Neloms         202
Elease Gluck          177
Rosie Papadopoulos    160
Rosalina Dieter       160
Garret Kinder         123
Wilburn Farren        110
Name: count, dtype: int64

In [16]:
sales_pipeline["product"].value_counts()

product
GTX Basic         1866
MG Special        1651
GTXPro            1480
MG Advanced       1412
GTX Plus Basic    1383
GTX Plus Pro       968
GTK 500             40
Name: count, dtype: int64

In [17]:
sales_pipeline["account"].value_counts()

account
Hottechi                 200
Kan-code                 196
Konex                    178
Condax                   170
Dontechi                 129
                        ...
Newex                     55
Bioplex                   53
The New York Inquirer     52
Sumace                    52
Iselectrics               51
Name: count, Length: 85, dtype: int64

In [18]:
sales_pipeline["deal_stage"].value_counts()

deal_stage
Won            4238
Lost           2473
Engaging       1589
Prospecting     500
Name: count, dtype: int64

In [19]:
sales_team.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sales_agent      35 non-null     object
 1   manager          35 non-null     object
 2   regional_office  35 non-null     object
dtypes: object(3)
memory usage: 968.0+ bytes

In [20]:
sales_team["sales_agent"].unique()

array(['Anna Snelling', 'Cecily Lampkin', 'Versie Hillebrand',
       'Lajuana Vencill', 'Moses Frase', 'Jonathan Berthelot',
       'Marty Freudenburg', 'Gladys Colclough', 'Niesha Huffines',
       'Darcel Schlecht', 'Mei-Mei Johns', 'Violet Mclelland',
       'Corliss Cosme', 'Rosie Papadopoulos', 'Garret Kinder',
       'Wilburn Farren', 'Elizabeth Anderson', 'Daniell Hammack',
       'Cassey Cress', 'Donn Cantrell', 'Reed Clapper', 'Boris Faz',
       'Natalya Ivanova', 'Vicki Laflamme', 'Rosalina Dieter',
       'Hayden Neloms', 'Markita Hansen', 'Elease Gluck',
       'Carol Thompson', 'James Ascencio', 'Kary Hendrixson',
       'Kami Bicknell', 'Zane Levy', 'Maureen Marcano', 'Carl Lin'],
      dtype=object)

In [21]:
sales_team["manager"].unique()

array(['Dustin Brinkmann', 'Melvin Marxen', 'Cara Losch', 'Rocco Neubert',
       'Celia Rouche', 'Summer Sewald'], dtype=object)

In [22]:
sales_team["manager"].value_counts()

manager
Melvin Marxen       6
Cara Losch          6
Rocco Neubert       6
Celia Rouche        6
Summer Sewald       6
Dustin Brinkmann    5
Name: count, dtype: int64

In [23]:
sales_team["regional_office"].value_counts()

regional_office
East       12
West       12
Central    11
Name: count, dtype: int64

# TRANSFORMATION

- the dataset is clean. some dates are null purposely because the transaction has not engaged yet, usually still in prospecting stage

## database normalization
### to do:
- rename employees to employee count on accounts table
- sales team: add id on sales team table because sales pipeline references it
- products: add id on products table because sales pipeline references it
- accoutns: add id on accoutns table because sales pipeline references it
- map and rename columns of sales pipeline table accordingly

In [24]:
accounts = accounts.rename(columns={"employees":"employee_count"})

In [25]:
sales_team2 = pd.DataFrame({"sales_agent_id":range(len(sales_team))}) # initialize new sales team table with id
sales_team2 = pd.concat([sales_team2, sales_team], axis=1)
sales_team2

    sales_agent_id         sales_agent           manager regional_office
0                0       Anna Snelling  Dustin Brinkmann         Central
1                1      Cecily Lampkin  Dustin Brinkmann         Central
2                2   Versie Hillebrand  Dustin Brinkmann         Central
3                3     Lajuana Vencill  Dustin Brinkmann         Central
4                4         Moses Frase  Dustin Brinkmann         Central
5                5  Jonathan Berthelot     Melvin Marxen         Central
6                6   Marty Freudenburg     Melvin Marxen         Central
7                7    Gladys Colclough     Melvin Marxen         Central
8                8     Niesha Huffines     Melvin Marxen         Central
9                9     Darcel Schlecht     Melvin Marxen         Central
10              10       Mei-Mei Johns     Melvin Marxen         Central
11              11    Violet Mclelland        Cara Losch            East
12              12       Corliss Cosme        Cara Losch            East
13              13  Rosie Papadopoulos        Cara Losch            East
14              14       Garret Kinder        Cara Losch            East
15              15      Wilburn Farren        Cara Losch            East
16              16  Elizabeth Anderson        Cara Losch            East
17              17     Daniell Hammack     Rocco Neubert            East
18              18        Cassey Cress     Rocco Neubert            East
19              19       Donn Cantrell     Rocco Neubert            East
20              20        Reed Clapper     Rocco Neubert            East
21              21           Boris Faz     Rocco Neubert            East
22              22     Natalya Ivanova     Rocco Neubert            East
23              23      Vicki Laflamme      Celia Rouche            West
24              24     Rosalina Dieter      Celia Rouche            West
25              25       Hayden Neloms      Celia Rouche            West
26              26      Markita Hansen      Celia Rouche            West
27              27        Elease Gluck      Celia Rouche            West
28              28      Carol Thompson      Celia Rouche            West
29              29      James Ascencio     Summer Sewald            West
30              30     Kary Hendrixson     Summer Sewald            West
31              31       Kami Bicknell     Summer Sewald            West
32              32           Zane Levy     Summer Sewald            West
33              33     Maureen Marcano     Summer Sewald            West
34              34            Carl Lin     Summer Sewald            West

In [26]:
products2 = pd.DataFrame({"product_id":range(len(products))})
products2 = pd.concat([products2, products], axis=1)
products2

   product_id         product series  sales_price
0           0       GTX Basic    GTX          550
1           1         GTX Pro    GTX         4821
2           2      MG Special     MG           55
3           3     MG Advanced     MG         3393
4           4    GTX Plus Pro    GTX         5482
5           5  GTX Plus Basic    GTX         1096
6           6         GTK 500    GTK        26768

In [27]:
accounts2 = pd.DataFrame({"account_id":range(len(accounts))})
accounts2 = pd.concat([accounts2, accounts], axis=1)
accounts2

,account_id,account,sector,year_established,revenue,employee_count,office_location,subsidiary_of
0,0,Acme Corporation,technolgy,1996,1100.04,2822,United States,NaN
1,1,Betasoloin,medical,1999,251.41,495,United States,NaN
2,2,Betatech,medical,1986,647.18,1185,Kenya,NaN
3,3,Bioholding,medical,2012,587.34,1356,Philipines,NaN
4,4,Bioplex,medical,1991,326.82,1016,United States,NaN
...,...,...,...,...,...,...,...,...
80,80,Zathunicon,retail,2010,71.12,144,United States,NaN
81,81,Zencorporation,technolgy,2011,40.79,142,China,NaN
82,82,Zoomit,entertainment,1992,324.19,978,United States,NaN
83,83,Zotware,software,1979,4478.47,13809,United States,NaN
84,84,Zumgoity,medical,1984,441.08,1210,United States,NaN

In [28]:
# map pipeline references to table with new id
for index in sales_pipeline.index:
    # get referenced account
    ref_acc = sales_pipeline.loc[index, "account"]
    # get equivalent account id
    if (len(accounts2.query("account == @ref_acc")) != 0):
        acc_id = accounts2.query("account == @ref_acc")["account_id"].values[0]
        # assign account id
        sales_pipeline.loc[index, "account"] = acc_id

    # get referenced product
    ref_prod = sales_pipeline.loc[index, "product"]
    # get equivalent product id
    if (len(products2.query("product == @ref_prod")) != 0):
        prod_id = products2.query("product == @ref_prod")["product_id"].values[0]
        # assign product id
        sales_pipeline.loc[index, "product"] = prod_id

    # get referenced sales agent
    ref_agent = sales_pipeline.loc[index, "sales_agent"]
    # get equivalent sales agent id
    if (len(sales_team2.query("sales_agent == @ref_agent")) != 0):
        agent_id = sales_team2.query("sales_agent == @ref_agent")["sales_agent_id"].values[0]
        # assign account id
        sales_pipeline.loc[index, "sales_agent"] = agent_id

In [29]:
sales_pipeline

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value
0,1C1I7A6R,4,5,8,Won,2016-10-20,2017-03-01,1054.0
1,Z063OYW0,9,GTXPro,38,Won,2016-10-25,2017-03-11,4514.0
2,EC4QE1BX,9,2,8,Won,2016-10-25,2017-03-07,50.0
3,MV1LWRNH,4,0,10,Won,2016-10-25,2017-03-09,588.0
4,PE84CX4O,32,0,34,Won,2016-10-25,2017-03-02,517.0
...,...,...,...,...,...,...,...,...
8795,9MIWFW5J,2,3,NaN,Prospecting,NaN,NaN,NaN
8796,6SLKZ8FI,2,3,NaN,Prospecting,NaN,NaN,NaN
8797,LIB4KUZJ,2,3,NaN,Prospecting,NaN,NaN,NaN
8798,18IUIUK0,2,3,NaN,Prospecting,NaN,NaN,NaN
8799,8I5ONXJX,2,3,NaN,Prospecting,NaN,NaN,NaN

In [30]:
# check for remaining values unreferenced
print(sales_pipeline["sales_agent"].unique())
print(sales_pipeline["product"].unique())
print(sales_pipeline["account"].unique())

[4 9 32 0 23 26 8 29 7 33 25 24 2 17 27 11 31 13 30 20 15 14 6 18 3 21 19
 12 1 5]
[5 'GTXPro' 2 0 3 4 6]
[8 38 10 34 58 40 9 84 nan 3 27 69 64 23 60 72 77 57 20 74 75 82 25 45 83
 14 76 0 32 70 48 29 65 44 12 30 53 59 22 24 52 62 31 56 41 49 78 4 54 71
 13 51 42 46 66 73 7 21 18 43 1 15 17 28 55 11 47 16 61 26 36 63 79 80 2 5
 35 37 68 81 33 19 67 39 50 6]

In [31]:
# replace GTXPro with appropriate ID from the products table
sales_pipeline["product"] = sales_pipeline["product"].replace("GTXPro", "1")

In [32]:
# rename columns to indicate id
sales_pipeline = sales_pipeline.rename(columns={"sales_agent":"sales_agent_id", "product":"product_id", "account":"account_id"})

# LOADING

In [33]:
accounts2.to_csv(r"preprocessed tables\accounts.csv", index=False)
products2.to_csv(r"preprocessed tables\products.csv", index=False)
sales_team2.to_csv(r"preprocessed tables\sales_team.csv", index=False)
sales_pipeline.to_csv(r"preprocessed tables\sales_pipeline.csv", index=False)

- done via MySQL Workbench

# PREDICTIVE MODELING

In [3]:
import pandas as pd

In [4]:
accounts = pd.read_csv(r"preprocessed tables\accounts.csv")
products = pd.read_csv(r"preprocessed tables\products.csv")
sales_team = pd.read_csv(r"preprocessed tables\sales_team.csv")
sales_pipeline = pd.read_csv(r"preprocessed tables\sales_pipeline.csv")